<div class="text-center my-5">
  <img [src]="aboutImage" alt="" />
  <hr />
  <h5>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod atque
    explicabo nemo facere! Tempora consequuntur eum qui, aliquid maxime esse
    ipsum aspernatur quam suscipit est? Tempore provident tempora eveniet!
    Praesentium accusamus recusandae nisi distinctio, inventore quo blanditiis
    necessitatibus dolores debitis! Unde eligendi culpa explicabo nihil, est
    illo rem incidunt. Ipsa illo nostrum minus sit fugiat vel alias saepe
    magnam, cum eligendi, harum eos possimus? Quaerat nulla quibusdam dolorum
    quas, delectus aperiam explicabo recusandae perspiciatis debitis inventore
    suscipit temporibus ipsum consequatur ea! Et enim sunt reprehenderit
    deserunt alias aut blanditiis adipisci magni repudiandae iste omnis
    laboriosam, doloribus illum reiciendis porro architecto, voluptatum,
    consequuntur aspernatur vel nulla similique ea repellendus sapiente
    explicabo? Quo ab tempore sed, magni ratione mollitia sunt deleniti nemo
    nobis soluta quaerat animi hic facilis impedit, quod atque quia ipsam
    beatae, commodi autem adipisci sit magnam fuga. Quidem eos adipisci ut culpa
    eum minus necessitatibus maiores corporis corrupti molestiae eaque possimus
    quaerat, impedit vero rerum obcaecati repellendus voluptate! Illum explicabo
    facilis fugit eos nesciunt et dolores libero qui vitae eaque quis beatae
    rerum aliquam repudiandae expedita, sed error repellendus quas. Libero,
    itaque corrupti? Fugit excepturi fugiat saepe, atque officia odio in debitis
    velit quas magnam. Velit, quae. Quod, repudiandae?
  </h5>
</div>
