.title {
  font-size: 50px;
  color: white;
  padding: 20px;
  text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.534);
  display: inline-block;
}
.movie {
  color: white;
  text-align: center;
  position: relative;
}
img {
  border-radius: 15px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
h5 {
  margin-top: 10px;
  font-size: 15px;
}
.vote {
  position: absolute;
  top: 0px;
  right: 10px;
  background-color: #24baef;
  padding: 8px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
}
.one-card .one-card:hover a {
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}
